div {
	background-image: url(flower.png), url(ball.png), url(grass.png);
	background-position: center center, 20% 80%, top left, bottom right;
	background-origin: border-box, content-box;
	background-repeat: no-repeat;
}
